* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Popins", sans-serif;
    
}

:root{
    --bk: #1E1E1E;
    --wt: #fff;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #C73EF9 40%, #9747FF 100%) ;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: linear-gradient(45deg, #C73EF9 40%, #9747FF 100%);
}