* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Popins", sans-serif;
    
}

body {
    background: linear-gradient(45deg, #C73EF9 40%, #9747FF 100%);
}

header{
    height: auto;
    background-color: #1E1E1E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 60%;
}

header nav a{
    margin: 0px 20px 0px 20px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

header img{
    width: 130px;
    height: 80px;
    margin: 10px 10px 10px 4rem;
}


section{
    margin-top: 5rem;
}

article{
    margin-left: 20px;
}

.infos{
    height: 400px;
}

article{
    width: 600px;
}

.titulo{
    padding-top: 8rem;
    margin-bottom: 10px;
    font-size: 44px;
    color: white;
}

.importante{
    background: -webkit-linear-gradient(45deg, #FB2576 0%, #3F0071 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.texto {
    font-size: 20px;
    text-indent: 15px;
    color: white;
    text-align: justify;
}

a.buttonP{
    display: flex;
    align-items: center;
    gap: 30px;
}

a span{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.buttonP {
    display: block;
    border: 2px solid white;
    width: 420px;
    height: 30px;
    background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
    border-radius: 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-bottom: 2rem;
}

.card {
    width: 360px;
    height: 340px;
    margin: 10px;
    display: flex;
    column-gap: 25px;
    flex-direction: column;
    background: linear-gradient(45deg, #FB2576 0%, #3F0071 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card span{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding-left: 10px;
    padding-top: 20px;
}

.card p{
    width: 290px;
    height: 60px;
    color: white;
    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
}

.card svg{
    position: relative;
    top: 170px;
    left: 320px;
}

.cabeçalho{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card .ref{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

footer {
    background-color: #1E1E1E;
    height: 200px;
}

.mg-lt4{
    margin-left: 4rem;
}

.mg-tp4{
    margin-top: 4rem;
}
