* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Georgia", "Lora", "Open Sans", "sans-serif";
}

 /*Background da página inicial*/
 body{
    background: #ffffff;
 }



:root{
    --rx: #9747FF;
    --bkrx: #3F0071;
    --wt: #ffffff;
    --bk: #1E1E1E;
    --gradient: linear-gradient(45deg, #000000 40%, #000000 100%);
    --gradientCard: linear-gradient(45deg, #FB2576 40%, #3F0071 100%);
    --fonte-primaria: 'Georgia', sans-serif;
    --fonte-secundaria: 'Lora', sans-serif;
    --tamanho-fonte: 16px;
    --largura-maxima: 1200px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: var(--gradient) ;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    
}

header{
    background-color: var(--bk);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

img.logo{
    width: 130px;
    height: 80px;
    margin-left: 10px;
}

.menu{
    display: none;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
}

a{
    color: var(--wt);
    transition: 0.3s;
    letter-spacing: 3px;
}

header a:hover{
        color: #9747FF;
        opacity: 0.7;
}

main{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;   
}

section{
    margin: 2rem 2rem;
}

.inicio{
   margin-left: 4rem;
   margin-top: 4rem;
}

.infos{
    width: 700px;
    height: 500px;
}

.titulo{
    padding-top: 8rem;
    margin-bottom: 15px;
    line-height: 105%;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-align: start;
}

.texto {
    font-size: 20px;
    margin-top: 40px;
    color: var(--wt);
    text-align: justify;
    color:#000000;
}

a.buttonP{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 4rem 0rem;
}

a span{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--wt);
    margin-left: 10px;
    margin-right: 10px;
}

.buttonP {
    display: block;
    border: 2px solid var(--wt);
    width: 550px;
    height: 30px;
    background: var(--gradient);
    border-radius: 20px;
    border-color: #000000;
}

.produtos {
    display: flex;
    flex-wrap: nowrap;
    gap: 45px;
    align-items: center;
    justify-content: center;
}

.card {
    width: 360px;
    height: 340px;
    margin: 10px;
    z-index: 0;
    display: flex;
    column-gap: 25px;
    flex-direction: column;
    background: var(--bk);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card p{
    width: 290px;
    height: 60px;
    color: var(--wt);
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
}

.card .controle{
    width: 40px;
    height: 40px;
    position: relative;
    top: 2px;
    left: 5px;
}

.card .doll{
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 5px;
}

.card .book{
    width: 40px;
    height: 40px;
    position: relative;
    top: 2px;
    left: 7px;
}

.card .bgCard{
    background-color: var(--rx);
    width: 360px;
    height: 150px;
}

#mascaraCard{
    width: 50px;
    height: 50px;
    position: relative;
    top: -25px;
    left: 20px;
    background-color: var(--wt);
    border-radius: 50%;
}

.contato{
    border: 2px dashed var(--wt);
    background-color: var(--bk);
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
    margin: 4rem;
    display: flex;
    flex-direction: row;      
    justify-content: space-between;
}

.Horarios{
    text-align: left;
    font-size: 14px;
    margin: 20px 0px 20px 15px;
}

.Servicos{
    display: flex;
    flex-direction: row;
    gap: 35px;
    text-align: center;
    color: var(--wt);
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 20px 0px 15px;
}

.Servicos svg{
    margin: 10px 0px 10px 0px;
}

.Servicos div{
    width: 105px;
    height: 105px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: border 0.1s ease-in-out;
}

.Servicos div:hover{
    border: 2px solid var(--wt);  
    background-color: var(--rx); 
}

.txt1{
    color: var(--wt);
    font-weight: bold;
    margin-bottom: 5px;
}

.txt2{
    color: rgb(223, 223, 223);
    margin-bottom: 5px;
}

footer {
    background-color: var(--bk);
    height: 350px;
}

footer .Superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer .inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--wt);
    margin-top: 30px;
    gap: 25px;
}

footer .aviso{
    font-size: 10px;
    color: var(--wt);
}

footer .direitos{
    font-size: 10px;
    color: var(--wt);
}

footer .Institucional{
    display: flex;
    flex-direction: column;
}

footer .DadosdaEmpresa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--wt);
    font-size: 12px;
    text-align: left;
    border-bottom: 2px  solid var(--wt);
}

footer img{
    width: 240px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
}

footer .Dados {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 20px;
}

footer .RedeSocial{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px 0px 0px;
}

footer .RedeSocial a{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
}

footer .RedeSocial svg{
    color: var(--rx);
    margin-left: 5px;
    margin-top: 5px;
}
 
footer .RedeSocial a:hover{
    background-color: var(--wt);
}

footer nav{
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer nav div{
    color: var(--wt);
    font-size: 16px;  
    font-weight: bold;
    width: 171px;
    margin-left: 10px;
    letter-spacing: 2px;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 15px 10px 10px 10px;
    text-align: left;
}

footer nav ul a{
    color: var(--wt);
    font-size: 14px;
    transition: .3s;
}

footer nav ul a:hover{
    color: var(--rx);
    opacity: 0.7;
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--wt);
}

form label{
    margin-bottom: 10px;
}

form input{
    max-width: 200px;
    outline: none;
    height: 30px;
    border-radius: 30px;
    border: 3px solid var(--bkrx);
    padding: 10px 20px;
}

input[type=email]::placeholder{
    color: var(--bkrx);
    
}

input[type=email] {
    color: var(--bkrx);
    font-weight: 600;
    font-size: 16px;
    caret-color: var(--bkrx);
}

form button{
    background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
    color: var(--wt);
    border: 2px solid var(--wt);
    height: 30px;
    border-radius: 15px;
    margin: 10px 0px;
}

.Slogan{
    font-weight: bold;
}

.CNPJ{
    margin-bottom: 10px;
}

@media(max-width:900px) {
    
    body{
        overflow-x: hidden;
    }

    header img{
        width: 130px;
        height: 80px;
        margin: 10px;
    }

    .links{
        position: absolute;
        top: 70px;
        right: 0;
        width: 50vh;
        height: 100vh;
        margin: 0;
        gap: 0px;
        background-color: var(--bk);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }
    
    .links li{
        margin-left: 0px;
        opacity: 1;
    }

    div.menu{
        display: block;
    }
    
    section.inicio{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .infos{
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
        margin: 10px;
    }

    .titulo{
        padding-top: 8rem;
        margin-bottom: 15px;
        line-height: 105%;
        font-size: 26px;
        color: white;
        text-align: start;
    }
    

    .buttonP {
        border: 2px solid white;
        width: 320px;
        height: 50px;
        background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
        border-radius: 20px;
    }

    footer{
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        gap: 50px;
    }
    
    footer .Superior{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }

    footer .DadosdaEmpresa{
        display: flex;
        flex-direction: column;
    }
    

    footer .Dados{
        align-items: center;
        width: 280px;
        margin-bottom: 10px;
    }

    footer p.Endereço{
        margin-left: 53px;
    }
}

.links.active{
    transform: translateX(0);
}

@media(max-width:1200px) {
    
    .produtos{
        height: auto;
        flex-direction: column;
    }

    .card{
        width: 320px;
        height: 280px;
    }
    
    .card .bgCard{
        background-color: var(--bkrx);
        width: 320px;
        height: 120px;
    }

    .contato{
        flex-direction: column;
    }
}
/*Tela de Login*/
.login{
    background: linear-gradient(49deg, rgba(199,62,249,1) 13%, rgba(151,71,255,1) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    font: 'Georgia', sans-serif;
}
.login h1{
    padding-bottom: 10px;
}
.login input{
    padding: 15px;
    border: 110px;
    outline: none;
    font-size: 15px;
}

a button{
    padding-left: 210px;
}

/*Tela de Cadastro*/
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(49deg, rgba(199,62,249,1) 13%, rgba(151,71,255,1) 100%);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    margin-top: 250px;
@CCZer0	Reply…
}
fieldset{
    border: 3px solid rgba(199,62,249,1);
    padding: 20px;
}
legend{
    border: 1px solid rgba(199,62,249,1);
    padding: 10px;
    text-align: center;
    background-color: rgba(199,62,249,1);
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    text-align: center;
    align-items: center;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
}
#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit{
    background: black;
    width: 100%;
    border: none;
    padding: 0px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(216deg, rgba(199,62,249,1) 13%, rgba(78,5,172,1) 100%);
}
button{
    background-color: #9747FF;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #a45fff;
}
.logo-numbus{
    display: block;
    margin-top: 150px;
    width: 350px;
    height: 250px;
}
#topo{
    display: flex;
}