.banner {
    background-color: #eb1deb;
    padding: 25px;
    text-align: center;
    padding-left: 10px;
}

.banner h1 {
    font-size: 24px;
    color: #ffffff;
}

.banner p {
    font-size: 18px;
    color: #000000;
}

.banner a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #941294;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}