* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Popins", sans-serif;
    
}

:root{
    --bk: #1E1E1E;
    --wt: #ffffff;
    --rx: #9747FF;
    --bkrx: #3F0071;
    --wtpk: #FB2576;
    --fx:#C73EF9;
    --bl:#9747FF;
    --gradient: linear-gradient(45deg, var(--fx) 40%, var(--bl) 100%);
    --gradientCard: linear-gradient(45deg, var(--wtpk) 40%, var(--bkrx) 100%);
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: var(--gradient) ;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    
}

body {
    background: var(--gradient);
}

header{
    background-color: var(--bk);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

img.logo{
    width: 130px;
    height: 80px;
    margin-left: 10px;
}

.menu{
    display: none;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 10px;
}

a{
    color: var(--wt);
    transition: 0.3s;
    letter-spacing: 3px;
}

header a:hover{
        color: #9747FF;
        opacity: 0.7;
}

main{
    padding: 5px;
}

main h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--wt);
    text-align: center;
}

main p {
    font-size: 1rem;
    color: var(--wt);
    text-align: justify;
    text-indent: 1.5rem;
    font-weight: bold;
}

.descriçao{
    width: 800px;
}

span{
    font-size: 2rem;
    color: var(--wt);
    margin: 10px 0px 10px 0px;
}


section {
    margin: 3rem;
    display: flex;
    height: 500px;
}

section.fundação{
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    width: 95%;
} 

section.serviço {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    width: 95%;
} 

article {
    width: 600px;
}

.metas article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.metas p {
    font-size: 1rem;
    color: var(--wt);
    text-indent: 0px;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 15px;
}

#mascaramarcozero {
    clip-path: circle();
    width: 400px;
    height: 400px;
    margin: 0rem 2rem 0rem 2rem;
}

img{
    max-width: 100%;
    display: block;
}

#mascaraboji{
    clip-path: circle();
    background-color: var(--bk);
    width: 300px;
    height: 300px;
}

#mascaraboji img{
    position: relative;
    top: 50px;
    left: 60px;
}

.Missao, .Valores, .Visao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 60px;
} 

footer {
    background-color: var(--bk);
    height: 350px;
}

footer .Superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer .inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--wt);
    margin-top: 30px;
    gap: 25px;
}

footer .aviso{
    font-size: 10px;
    color: var(--wt);
}

footer .direitos{
    font-size: 10px;
    color: var(--wt);
}

footer .Institucional{
    display: flex;
    flex-direction: column;
}

footer .DadosdaEmpresa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--wt);
    font-size: 12px;
    text-align: left;
    border-bottom: 2px  solid var(--wt);
}

footer img{
    width: 240px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
}

footer .Dados {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 20px;
}

footer .RedeSocial{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px 0px 0px;
}

footer .RedeSocial a{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
}

footer .RedeSocial svg{
    color: var(--rx);
    margin-left: 5px;
    margin-top: 5px;
}
 
footer .RedeSocial a:hover{
 background-color: var(--wt);
}

footer nav{
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer nav div{
    color: var(--wt);
    font-size: 16px;  
    font-weight: bold;
    width: 171px;
    margin-left: 10px;
    letter-spacing: 2px;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 15px 10px 10px 10px;
    text-align: left;
}

footer nav ul a{
    color: var(--wt);
    font-size: 14px;
    transition: .3s;
}

footer nav ul a:hover{
    color: var(--rx);
    opacity: 0.7;
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--wt);
}

form label{
    margin-bottom: 10px;
}

form input{
    max-width: 200px;
    outline: none;
    height: 30px;
    border-radius: 30px;
    border: 3px solid var(--bkrx);
    padding: 10px 20px;
}

input[type=email]::placeholder{
    color: var(--bkrx);
    
}

input[type=email] {
    color: var(--bkrx);
    font-weight: 600;
    font-size: 16px;
    caret-color: var(--bkrx);
}

form button{
    background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
    color: var(--wt);
    border: 2px solid var(--wt);
    height: 30px;
    border-radius: 15px;
    margin: 10px 0px;
}

.Slogan{
    font-weight: bold;
}

.CNPJ{
    margin-bottom: 10px;
}

@media(max-width:900px) {
    footer{
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        gap: 50px;
    }
    
    footer .Superior{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
    
}