footer {
    background-color: #1E1E1E;
    height: 350px;
}

footer .Superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer .inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--wt);
    margin-top: 30px;
    gap: 25px;
}

footer .aviso{
    font-size: 10px;
    color: var(--wt);
}

footer .direitos{
    font-size: 10px;
    color: var(--wt);
}

footer .Institucional{
    display: flex;
    flex-direction: column;
}

footer .DadosdaEmpresa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--wt);
    font-size: 12px;
    text-align: left;
    border-bottom: 2px  solid var(--wt);
}

footer img{
    width: 240px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
}

footer .Dados {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 20px;
}

footer .RedeSocial{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px 0px 0px;
}

footer .RedeSocial a{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
}

footer .RedeSocial svg{
    margin-left: 5px;
    margin-top: 5px;
}
 
footer .RedeSocial a:hover{
 background-color: var(--wt);
}

footer nav{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

footer nav div{
    color: white;
    font-size: 16px;  
    font-weight: bold;
    width: 171px;
    margin-left: 10px;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 15px 10px 10px 10px;
    text-align: left;
}

footer nav ul a{
    color: white;
    font-size: 14px;
    transition: .2s;
}

footer nav ul a:hover{
    color: rgb(190, 190, 190);
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

form label{
    margin-bottom: 10px;
}

form input{
    max-width: 200px;
    outline: none;
    height: 30px;
    border-radius: 30px;
    border: 3px solid #3F0071;
    padding: 10px 20px;
}

input[type=email]::placeholder{
    color: #3F0071;
    
}

input[type=email] {
    color: #3F0071;
    font-weight: 600;
    font-size: 16px;
    caret-color: #3F0071;
}

form button{
    background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
    color: var(--wt);
    border: 2px solid white;
    height: 30px;
    border-radius: 15px;
    margin: 10px 0px;
}

.Slogan{
    font-weight: bold;
}

.CNPJ{
    margin-bottom: 10px;
}

@media(max-width:900px) {
    footer{
        flex-direction: column;
        height: auto;
        justify-content: space-around;
        gap: 50px;
    }
    
    footer .Superior{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
    }
    
}