* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Georgia", "Lora", "Open Sans", "sans-serif";  
}

:root{
    --rx: #9747FF;
    --bkrx: #3F0071;
    --wt: #ffffff;
    --bk: #1E1E1E;
    --gradient: linear-gradient(45deg, #C73EF9 40%, #9747FF 100%);
    --fonte-primaria: 'Georgia', sans-serif;
    --fonte-secundaria: 'Lora', sans-serif;
    --tamanho-fonte: 16px;
    --largura-maxima: 1200px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: var(--gradient);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: var(--wt);
}

header{
    background-color: var(--bk);
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

img.logo{
    width: 130px;
    height: 80px;
    margin-left: 10px;
}

.menu{
    display: none;
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
}

li::first-letter{
    text-transform: capitalize;
}



a{
    color: var(--wt);
    transition: 0.3s;
    letter-spacing: 3px;
    font-weight: bold;
}

a.importante{
    color: var(--rx);
    letter-spacing: 0.15px;
} 

a.importante::after{
    content:'';
    width: 0px;
    height: 3px;
    position: absolute;
    left: calc(68rem + 25px);
    border-radius: 2px;
    right: 0px;
    display: block;
    background-color: var(--rx);
}

a.importante:hover::after{
    animation: hoverefect 0.5s ease forwards;
}


@keyframes hoverefect{
    from{
        width: 0px;
    }
    to{
        width: 80px;
    }
}

header a:hover{
    color: var(--rx);
    opacity: 0.7;
}

main{
    padding: 5px;
}

main span{
    font-size: 2.75rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
    color: var(--bk);
}

main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--bk);
    margin: 30px 10px 30px 10px;
}

main h1::after{
    content: '';
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background:var(--rx);
    display: block;
    margin: 15px 10px 15px 10px;
}

main article.disclaimer:hover h1::after{
    animation: h1hover 1s 0.5s ease-in forwards;
}

@keyframes h1hover{
    from{
        width: 200px;
    }
    to{
        width: 475px;
    }
}

main h2{
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    color: var(--bk);
    margin: 30px 10px 30px 10px;
}

main h2::after{
    content: '';
    width: 250px;
    height: 5px;
    background: var(--rx);
    display: block;
    margin: 10px 0px 5px 0px ;
}

main h3{
    font-size: 1.30rem;
    margin-bottom: 1.5rem;
    color: var(--bk);
    margin: 30px 10px 30px 10px;   
}

main h4{
    font-size: 1.10rem;
    margin-bottom: 1.5rem;
    color: var(--bk);
    margin: 30px 10px 30px 10px;
    width: auto;
}

main p{
    color: var(--bk);
    margin: 10px 10px 20px 10px;
    font-size: 1.15rem;
    letter-spacing: 0.15px;
}

main p.interacao{
    margin-top: 20px;
    font-size: 1.5rem;
}

main ol{
    list-style: none;
    margin: 0px;
    padding: 0px;

    counter-reset: my-couter;
}

main ol li{
    counter-increment: my-couter;
    margin: 15px 10px;
}

main ol li::before{
    width: 25px;
    height: 25px;
    font-size: 16px;
    color: var(--rx);
    font-weight: 600;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    border: 2px solid var(--rx);
    content: counter(my-couter, lower-alpha);
}

main ol.garantia li, main ol.devolucao li{
    list-style-type: decimal;
    margin-left: 30px;
}

main ol.garantia li::before, main ol.devolucao li::before{
    content: none;
}

main ol.garantia li::marker, main ol.devolucao li::marker{
    color: var(--rx);
    font-size: 1.15rem;
}

main ul{
    display: block;
    margin: 15px 0px 15px 30px;
    list-style-position: inside;
    list-style: circle;
}

main ul li::marker{
    color: var(--rx);
    font-size: 1.5rem;
}

main ul li{
    text-transform: initial;
    margin: 15px 30px 15px 0px;
}

section{
    margin: 2rem;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background: var(--wt);
}

section.boasvindas{
    margin-top: 7rem;
}

footer {
    background-color: var(--bk);
    height: 350px;
}

footer .Superior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer .inferior{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--wt);
    margin-top: 30px;
    gap: 25px;
}

footer .aviso{
    font-size: 10px;
    color: var(--wt);
}

footer .direitos{
    font-size: 10px;
    color: var(--wt);
}

footer .Institucional{
    display: flex;
    flex-direction: column;
}

footer .DadosdaEmpresa{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--wt);
    font-size: 12px;
    text-align: left;
    border-bottom: 2px  solid var(--wt);
}

footer img{
    width: 240px;
    height: 160px;
    margin-top: 20px;
    margin-left: 20px;
}

footer .Dados {
    display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 20px;
}

footer .RedeSocial{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 20px 0px 0px 0px;
}

footer .RedeSocial a{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.4s;
}

footer .RedeSocial svg{
    color: var(--rx);
    margin-left: 5px;
    margin-top: 5px;
}
 
footer .RedeSocial a:hover{
    background-color: var(--wt);
}

footer nav{
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer nav div{
    color: var(--wt);
    font-size: 16px;  
    font-weight: bold;
    width: 171px;
    margin-left: 10px;
    letter-spacing: 2px;
}

footer nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    margin: 15px 10px 10px 10px;
    text-align: left;
}

footer nav ul a{
    color: var(--wt);
    font-size: 14px;
    transition: .3s;
}

footer nav ul a:hover{
    color: var(--rx);
    opacity: 0.7;
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--wt);
}

form label{
    margin-bottom: 10px;
}

form input{
    max-width: 200px;
    outline: none;
    height: 30px;
    border-radius: 30px;
    border: 3px solid var(--bkrx);
    padding: 10px 20px;
}

input[type=email]::placeholder{
    color: var(--bkrx);
    
}

input[type=email] {
    color: var(--bkrx);
    font-weight: 600;
    font-size: 16px;
    caret-color: var(--bkrx);
}

form button{
    background: linear-gradient(45deg, #9747FF 40% , #C73EF9 100%);
    color: var(--wt);
    border: 2px solid var(--wt);
    height: 30px;
    border-radius: 15px;
    margin: 10px 0px;
}

.Slogan{
    font-weight: bold;
}

.CNPJ{
    margin-bottom: 10px;
}