main{
    padding: 5px;
}

h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--wt);
    text-align: center;
}

p {
    font-size: 1rem;
    color: var(--wt);
    text-align: justify;
    text-indent: 1.5rem;
    font-weight: bold;
}

.descriçao{
    width: 800px;
}

span{
    font-size: 2rem;
    color: var(--wt);
    margin: 10px 0px 10px 0px;
}


section {
    margin: 3rem;
    display: flex;
    height: 500px;
}

section.fundação{
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    width: 95%;
} 

section.serviço {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
    width: 95%;
} 

article {
    width: 600px;
}

.metas article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
}

.metas p {
    font-size: 1rem;
    color: var(--wt);
    text-indent: 0px;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 15px;
}

#mascaramarcozero {
    clip-path: circle();
    width: 400px;
    height: 400px;
    margin: 0rem 2rem 0rem 2rem;
}

img{
    max-width: 100%;
    display: block;
}

#mascaraboji{
    clip-path: circle();
    background-color: var(--bk);
    width: 300px;
    height: 300px;
}

#mascaraboji img{
    position: relative;
    top: 50px;
    left: 60px;
}

.Missao, .Valores, .Visao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    height: 60px;
} 
